<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>SERVER_DOCUMENTS_FOLDER</param-name>
        <param-value>C:\\DAEProject2019\\</param-value>
        <!--<param-value>C:\\DAEProject2019\\resources\\files</param-value>-->
    </context-param>
    <context-param>
        <param-name>
            javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL
        </param-name>
        <param-value>true</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>403</error-code>
        <location>/faces/error.xhtml</location>
    </error-page>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Guest WEBAPI</web-resource-name>
            <description/>
            <url-pattern>/webapi/templates/*</url-pattern>
                <http-method>GET</http-method>
        </web-resource-collection>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Client WEBAPI</web-resource-name>
            <url-pattern>/webapi/comments/*</url-pattern>
            <url-pattern>/webapi/configurations/*</url-pattern>
            <url-pattern>/webapi/templates/*</url-pattern>
                <http-method>GET</http-method>
                <http-method>POST</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Client</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin WEBAPI</web-resource-name>
            <description/>
            <url-pattern>/webapi/users/*</url-pattern>
            <url-pattern>/webapi/administrators/*</url-pattern>
            <url-pattern>/webapi/clients/*</url-pattern>
            <url-pattern>/webapi/comments/*</url-pattern>
            <url-pattern>/webapi/email/*</url-pattern>
            <url-pattern>/webapi/configurations/*</url-pattern>
            <url-pattern>/webapi/templates/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>dae_project_realm</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>Client</role-name>
    </security-role>
    <security-role>
        <role-name>Administrator</role-name>
    </security-role>
</web-app>
